<head>
  <script src="../assets/js/color-modes.js"></script>
  <link
    rel="canonical"
    href="https://getbootstrap.com/docs/5.3/examples/album-rtl/"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
</head>
<body>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let activity of activities">
          <div class="card shadow-sm" (click)="showComments(activity)">
            <img
              class="card-img-top"
              width="100%"
              height="225"
              alt="image"
              style="cursor: pointer"
            />
            <div class="card-body">
              <p class="card-text">
                {{ activity.auser }}
              </p>
              <p class="card-text">Duración: {{ activity.aduration }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">
                  Hora: {{ activity.ahour }}, Dia: {{ activity.adate }}</small
                >
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary"
                  >Kilometros: {{ activity.millage }} km</small
                >
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary"
                  >Deporte: {{ activity.sport_name }}</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
