.panel {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  max-height: 800px;
  overflow-y: auto;
}

.button-group button {
  width: 150px;
  height: 150px;
}

.content {
  margin-top: 20px;
}

.panel .btn-lg {
  width: 150px; /* Adjust as needed */
  height: 110px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
