.race-details-container {
  background-color: #e6f7ff; /* Color de fondo claro */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
  font-family: "Arial", sans-serif; /* Tipografía legible */
}

.race-title {
  text-align: center;
  color: #005f73; /* Color oscuro para el título */
  margin-bottom: 20px;
  font-size: 1.5rem; /* Tamaño de fuente más grande */
}

.details-content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.detail-label {
  font-weight: bold;
  color: #0077b6; /* Color llamativo para las etiquetas */
  display: flex;
  align-items: center;
}

.detail-label::before {
  content: ""; /* Aquí podrías agregar los iconos correspondientes */
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
}

.detail-value {
  color: #333;
  font-size: 1.1rem; /* Tamaño de fuente más grande para valores */
}

/* Estilos adicionales para los mensajes de carga y error */
.loading-message,
.error-message {
  text-align: center;
  color: #d9534f;
  font-size: 1.1rem;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .race-details-container {
    width: 90%;
    padding: 15px;
  }
  .race-title {
    font-size: 1.3rem;
  }
  .detail-value {
    font-size: 1rem;
  }
}
