/* report.component.css */
.report-container {
  font-family: "Arial", sans-serif;
  color: #333;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.report-title,
.participants-title {
  color: #444;
  margin-bottom: 20px;
  text-align: center; /* Centra el título */
}

.report-details,
.participants-table {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.detail-label {
  font-weight: bold;
}

.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; /* Agrega una línea de separación entre las filas */
  align-items: center; /* Alinea verticalmente los elementos en cada fila */
}

.table-header {
  font-weight: bold;
  background-color: #f0f0f0; /* Agrega un fondo gris claro a la cabecera de la tabla */
}

.export-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.export-button:hover {
  background-color: #45a049;
  transition: background-color 0.3s ease; /* Agrega una transición suave al cambiar el color de fondo al pasar el mouse */
}
