<div class="groups-wrapper">
  <div *ngFor="let group of groups" class="group-container">
    <img class="group-image" [src]="group.imageUrl" alt="{{ group.name }}" />
    <div class="group-details">
      <!-- Detalles del grupo aquí -->
      <h3 class="group-name">{{ group.name }}</h3>
      <p class="detail">
        <span class="label">Location:</span> {{ group.location }}
      </p>
      <p class="detail">
        <span class="label">Members:</span> {{ group.memberCount }}
      </p>
      <p class="detail">
        <span class="label">Category:</span> {{ group.category }}
      </p>
      <button
        class="join-leave-btn"
        [ngClass]="{ joined: group.joined }"
        (click)="onJoinLeave(group)"
      >
        {{ group.joined ? "Leave" : "Join" }}
      </button>
    </div>
  </div>
</div>
