<div class="container">
  <div class="form-group">
    <label for="raceSelect">Select Race</label>
    <select class="form-control" id="raceSelect" [(ngModel)]="selectedRace">
      <option *ngFor="let race of races" [value]="race.raceName">
        {{ race.raceName }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="userSelect">Select User</label>
    <select class="form-control" id="userSelect" [(ngModel)]="selectedUser">
      <option *ngFor="let user of users" [value]="user.Aemail">
        {{ user.Aemail }}
      </option>
    </select>
  </div>

  <div class="btn-group">
    <button class="btn btn-primary" (click)="onAccept()">Aceptar</button>
    <button class="btn btn-danger" (click)="onDecline()">Declinar</button>
  </div>
</div>
