<!-- basic-panel.component.html -->

<!-- Contenedor central "responsive" -->
<div class="center-box">
  <!-- Contenido dentro del cuadro -->
  <div class="icon">
    <img
      src="https://media.discordapp.net/attachments/599522055746093057/1170680874837221417/icon2.png?ex=6559ec86&is=65477786&hm=e51a3f79dfe974018e14fedb753531ed5c8c0bc7117608ae9febe2f1f2af5f1f&="
      alt="icon"
    />
  </div>
  <div class="content">
    <!-- Aquí puedes agregar el contenido del login -->
    <h2>Bienvenido</h2>
    <p>Por favor, identifíquese</p>
    <!-- Botones para iniciar sesión y registrarse -->
    <button (click)="iniciarSesion()">Iniciar Sesión</button>
    <button (click)="registrarse()">Registrarse</button>
  </div>
</div>
