<!-- basic-panel.component.html -->

<!-- Contenedor central "responsive" -->
<div class="center-box">
  <!-- Contenido dentro del cuadro -->
  <div class="icon">
    <img
      src="https://media.discordapp.net/attachments/599522055746093057/1170676916869664768/icon.png?ex=6559e8d7&is=654773d7&hm=f77bfc04a8478c91da527f7352160d6b6af86f412b18cb7ca84fa4eb081b26d9&="
      alt="icon"
    />
  </div>
  <div class="content">
    <!-- Aquí puedes agregar el contenido del login -->
    <h2>Bienvenido</h2>
    <p>Por favor, identifíquese</p>
    <!-- Botones para iniciar sesión y registrarse -->
    <button (click)="iniciarSesion()">Iniciar Sesión</button>
    <button (click)="registrarse()">Registrarse</button>
  </div>
</div>
