html,
body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 40px;
}

.form-signin h2 {
  font-weight: bold;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  margin-bottom: 20px; /* Adds more space between the input fields */
}

.icon {
  display: flex; /* Makes .icon a flex container */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
}

/* Estilos para el ícono cuadrado */
.icon img {
  width: 150px; /* Tamaño del ícono cuadrado */
  height: 130px; /* Tamaño del ícono cuadrado */
  background-color: #ffffff; /* Color de fondo del ícono */
  border-radius: 5px; /* Bordes redondeados del ícono */
  margin-bottom: 10px; /* Espacio entre el ícono y el texto */
}
