<!-- challenges.component.html -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>

<div class="container">
  <div class="filter-buttons">
    <button
      (click)="toggleType('Run')"
      [ngClass]="{ active: selectedTypes.includes('Run') }"
    >
      <i class="fas fa-running"></i> Run
    </button>
    <button
      (click)="toggleType('Ride')"
      [ngClass]="{ active: selectedTypes.includes('Ride') }"
    >
      <i class="fas fa-bicycle"></i> Ride
    </button>
    <button
      (click)="toggleType('Swim')"
      [ngClass]="{ active: selectedTypes.includes('Swim') }"
    >
      <i class="fas fa-swimmer"></i> Swim
    </button>
    <button
      (click)="toggleType('Walk')"
      [ngClass]="{ active: selectedTypes.includes('Walk') }"
    >
      <i class="fas fa-walking"></i> Walk
    </button>
    <button
      (click)="toggleType('Hike')"
      [ngClass]="{ active: selectedTypes.includes('Hike') }"
    >
      <i class="fas fa-hiking"></i> Hike
    </button>
    <button
      (click)="toggleType('Kayak')"
      [ngClass]="{ active: selectedTypes.includes('Kayak') }"
    >
      <i class="fa-solid fa-water"></i>
      <i class="fa-solid fa-spoon"></i> Kayak
    </button>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let challenge of filteredChallenges">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ challenge.challenge_name }}</h5>
          <p class="card-text">{{ challenge.challenge_type }}</p>
          <p class="card-text">Kilómetros o Altura: {{ challenge.Mileage }}</p>
          <div class="badge bg-secondary">{{ challenge.SportName }}</div>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted"
              >Desde: {{ challenge.start_date | date : "shortDate" }}</small
            >
            <small class="text-muted"
              >Hasta: {{ challenge.final_date | date : "shortDate" }}</small
            >
          </div>
          <a
            href="#"
            class="btn btn-primary"
            (click)="joinChallenge(challenge, $event)"
            >Unirse al reto</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
